<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
          <h2 class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">Home</a>
          </h2>

          <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
        </div>
        <div class="footer-bottom">
          <div class="copyright">
            <p>&copy; {{site.time | date: '%Y'}} Crafted & Designed by <a href="https://github.com/artemsheludko">Artem Sheludko</a></p>
          </div>
          <div class="copyright">
            <p > Last Updated: December 1st 2019 <p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->
