<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
          <h2 class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">Home</a>
          </h2>
          <p>
            <a href="https://blog.jwhite.network"> Clear Net Link</a> <br>
            <a href="http://icafappwnu2hkv754nzwvdqev63sppulueybxvivg6qehxszkamnhkid.onion" title="Requires Tor Browser"> Tor Link</a>
          </p>

          <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
        </div>
        <div class="footer-bottom">
          <div class="copyright">
            <p>&copy; {{site.time | date: '%Y'}} Crafted & Designed by <a href="https://github.com/artemsheludko">Artem Sheludko</a></p>
          </div>
          <div class="copyright">
            <p > Last Updated: 20 December 2020 <p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->
