{{- $s := .Site.Params }}
{{- $c := default .Site.Title .Site.Copyright  }}
{{- if or .Params.enableMathNotation $s.enableMathNotation }}
  {{ partialCached "math" . }}
{{- end }}
{{- $iconsDir := default "icons/" .Site.Params.iconsDir }}
{{- $defaultFooterLogo := printf "%s%s" $iconsDir "favicon.png"}}
<footer class="footer">
  <div class="footer_inner wrap pale">
    <img src='{{ absURL (default $defaultFooterLogo $s.footerLogo) }}' class="icon_2" alt="{{ $c }}">
    <p>{{ T "copyright" | markdownify }}{{ with $s.since }}&nbsp;{{ . }}-{{ end }}&nbsp;<span class="year"></span>&nbsp;{{ upper $c }}. {{ T "all_rights" | markdownify }} {{ if .GitInfo }}| Git Hash <a href='https://github.com/Cyb3r-Jak3/blog/tree/{{ .GitInfo.Hash }}'>{{ .GitInfo.AbbreviatedHash }}</a> {{ end }}</p>
    {{- partialCached "top" .}}
  </div>
</footer>
